[user]
	email = {{ .email }}
	name = {{ .name }}
[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = nvim
	compression = 9
	whitespace = error
	preloadindex = true
[commmit]
	sign = true

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renamed = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[help]
	autocorrect = prompt
[merge]
	conflictstyle = zdiff3
